@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
:roo {
    --color-1: #2b72b9;
    -webkit-text-fill-color: white;
    --accent-color: #006aff;
}
* {
    box-sizing: border-box;
}
html {
    font-size: 12pt;
}
body {
   
    margin: 0px;
    padding: 0;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.contain {
    width: 80vw;
    max-width: 1440px;
    margin: 0px auto;
}
img {
    width: 100%;
    object-fit: cover;
}
#lvl1 {
    position: relative;
    background: linear-gradient(to top, #ffffff, #231f20);
    position: sticky;
    top: 0px;
    z-index: 1;
    .contain {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    a {
        text-decoration: none;
        color: white;
        padding: 24px;
    }
    img {
        width: 100px;
    }
    #logo {
        margin-right: auto;
    }
    h1 {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        background-image: linear-gradient(to top, #231f20, white, #2b72b9, white, #231f20);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 30px;
        padding-left: 100px;
    }
   
    p {
        margin-left: auto;
    }
    .btn {
        background-color: white;
        color: #2b72b9;
        border-radius: 10px;
        padding: 12px 20px;
        font-size: 15px;
        font-weight: bold;
        min-width: 100px;
        text-align: center;
        &:hover {
            background-color: #003a7d;
            color: white;
        }
    }
}
.contain ul {
    text-decoration: none;
    list-style-type: none;
    background-image: linear-gradient(to bottom, #231f20, #2b72b9,  #231f20, #2b72b9);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#navbar {
    background: linear-gradient(to top, #ffffff, #231f20);
    position: sticky;
    top: 0px;
    z-index: 1;
    .contain {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    a {
        text-decoration: none;
        color: white;
        padding: 12px;
        width: 75px;
    }
    img {
        width: 120px;   
    }
    h1 {
        margin-left: auto;
        margin-right: auto;
        background-image: linear-gradient(to top, #231f20, white, #2b72b9, white, #231f20);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 30px;
        padding-left: 100px;
    }
    #logo {
       margin: 0px;
       margin-right: auto;
       margin-left: auto;
    }
    .btn {
        background-color: white;
        color: #2b72b9;
        border-radius: 10px;
        padding: 5px;
        font-size: 15px;
        font-weight: bold;
        min-width: 100px;
        text-align: center;
        &:hover {
            background-color: #2b72b9;
            color: white;
            padding: 5px;
        }
    }
    
    #lvl2 {
       background-color: #2b72b9;
      
    }
    #lvl2 .contain {
        display: flex;
        justify-content: flex-end;
        margin: 0 24px;
    }
}
nav {
    background-color: #2b72b9;
    display: flex;
    align-items: center;
    gap: 24px;
}
#navbar a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 24px;
    
    &:hover {
       color: #003a7d;
    }
}

nav > .logo {
   margin-right: auto;
   font-weight: bold;
   font-size: 36px;
  padding-top: 13px;
  padding-bottom: 12px;
}

img {
    width: 100%;
    object-fit: cover;
}

nav {
    position: relative;
    height: 60px;
    position: sticky;
    background-color: #2b72b9;
    display: flex;
    justify-content: flex-end;
    align-items: center;
   
    position: sticky;
    top: 0px;
    z-index: 1;
}
.links-container {
    position: relative;
    position: sticky;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-self: center;
}
nav a {
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
}
nav a:hover {
    color: #003a7d;
}
nav .home-link {
    margin-right: auto;
}
nav svg {
    fill: white;
}
#sidebar-active {
    display: none;
}
.open-sidebar-button, .close-sidebar-button {
    display: none;
}
.dropdown-container {
    position: relative;
}
.dropdown-menu {
    position: absolute;
    box-shadow: -2px 2px 5px #5558;
    opacity: 0;
    visibility: hidden;
    transition: 
        opacity 0.5s,
        visibility 0.5s
    ;
}
.dropdown-menu a {
    background-color: #2b72b9;
    width: 100%;
    min-width: 200px;
}
.dropdown-container:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}
#hero-1 {
    background-image: url(../images/downtown.jpg);
    background-size: cover;
    background-position: center right;
    background-position: bottom;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    h1 {
        margin-right: auto;
        margin-left: auto;
        background-image: linear-gradient(to top, #231f20, #2b72b9, #231f20);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 100px;
        padding-left: 100px;
    }
    .btn {
        text-decoration: none;
        background-color: white;
        color: #2b72b9;
        border-radius: 10px;
        padding: 15px 20px;
        font-size: 40px;
        font-weight: bold;
        min-width: 200px;
        text-align: center;
        &:hover {
            background-color: #2b72b9;
            color: white;
        }
    }
    p {
        text-align: center;
        font-weight: bold;
        background-image: linear-gradient(to top, #231f20, #2b72b9, #231f20);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 30px;
    }
}
@keyframes fade-inout{
    0%{opacity: 1;}
    100%{opacity: 0;}
}
#hero-1 h1 {
    animation: fade-inout 5s infinite alternate;
}
#two-columns {
    display: flex;
    width: 90vw;
    height: 100vh;
    margin: 48px 0px 0px 48px;
    gap: 24px;
}
#two-columns h2 {
    text-align: center;
}

#main {
   margin: 0px auto;
   border: 24px;
   
   
}
#column {
    margin: 0px auto;
    border: 24px;
    
}
.content {
    h1 {
        text-align: center;
    }
    p {
        text-align: center;
    }
}

/* contact */
.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}
#contact-section {
    background: url(../images/lamp.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    padding-bottom: 2%;
}
#contact-section .container h2 {
    text-align: center;
    text-decoration: underline;
    text-underline-position: under;
    color: rgb(238, 235, 235);
    letter-spacing: 2px;
}
#contact-section .container p {
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3%;
    color: #fff;
    letter-spacing: 3px;
}
.contact-form i.fa {
    font-size: 22px;
    padding: 3%;
    background-color: none;
    margin: 2%;
    border-radius: 80%;
    cursor: pointer;
    border: 2px solid rgb(190, 190, 190);
    color: rgb(190, 190, 190);
}
.contact-form i.fa:hover {
    cursor: pointer;
    border: 2px solid #fff;
    color: #fff;
}
.contact-form {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 5px;
}
.form-info {
    font-size: 16px;
    font-style: italic;
    color: #fff;
    letter-spacing: 2px;
}
input {
    padding: 10px;
    margin: 10px;
    width: 70%;
    background-color: rgba(136, 133, 133, 0.5);
    color: #fff;
    border: none;
    outline: none;
}
input::placeholder {
    color: #fff;
}
textarea {
    padding: 10px;
    margin: 10px;
    width: 70%;
    background-color: rgba(136, 133, 133, 0.5);
    color: #fff;
    border: none;
    outline: none;
}
textarea::placeholder {
    color: #fff;
}
.submit {
    width: 40%;
    background: none;
    padding: 4px;
    outline: none;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 33px;
    text-align: center;
    cursor: pointer;
    letter-spacing: 2px;
    margin-left: 3%;
    border: 2px solid rgb(190, 190, 190);
    color: rgb(190, 190, 190);
}
.submit:hover {
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
}

/* source */
img {
    width: 100%;
    object-fit: cover;
}

.intro {
        display: flex;
        align-items: center;
        gap: 48px;
}
.intro img {
        margin-top: 24px;
        margin-bottom: px;
        height: 100%;
        border-radius: 24px;
}
.img-contain, .content {
        flex: 1;
}
.img-contain {
        height: 400px;
        margin-bottom: 45px;
}
.content h1 {
        font-size: 30px;
       color: #2b72b9;
}
.featured {
    background-color: #222;
    color: white;
    padding: 24px 0px;
    h2 {
        font-size: 36px;
        text-align: center;
    }
}
#cards-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex: 300px;
    border: 0px solid #2b72b9;
    box-shadow: -2px 2px 5px #5558;
    color: #2b72b9;
    margin: 50px;
    padding: 24px;
    border-radius: 12px;
    text-align: center;
    a {
        border-radius: 24px;
        text-decoration: none;
        color: #6ABD45;
        display: block;
        border: 3px solid #6ABD45;
        padding: 12px;
        margin-top: 36px;
    }
}
main {
    background-color: #D8D8D8;
}
.card2:hover a {
    background-color: #FBB03A;
    color: white;
    box-shadow: 4px 4px 4px #0003;
    transform: translateY(-4px);
}
.card2 a {
    background-color: #D8D8D8;
    transition: 
    background-color 0.5s,
    box-shadow 0.5s,
    transform 0.5s;
}

/* blog */
.intro {
    display: flex;
    align-items: center;
    gap: 48px;
}
.intro img {
    height: 100%;
    border-radius: 24px;
}
.img-contain, .content {
    flex: 1;
}
.img-contain {
    height: 400px;
}
.content h1 {
    font-size: 48px;
    color: #2b72b9;
}
.featured {
background-color: #222;
color: white;
padding: 24px 0px;
h2 {
    font-size: 36px;
    text-align: center;
}
}
.grid img {
height: 300px;
border-radius: 24px;
}
.grid {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
gap: 16px;
grid-template-areas:
    "t1 i1 i2 i2" 
    "i3 i3 i4 t2"
;
#p1 {
    grid-area: t1;
}
#p2 {
    grid-area: t2;
}
#img1 {
    grid-area: i1;
}
#img2 {
    grid-area: i2;
}
#img3 {
    grid-area: i3;
}
#img4 {
    grid-area: i4;
}
p {
    border: 2px solid #ffb700;
    border-radius: 24px;
    margin: 0px;
    padding: 20px;
}
}
footer {
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    background-color: #2d2e33;
    padding: 60px 10%;
}
ul {
    list-style: none;
}
.footer-col {
    width: 25%;
}
.footer-col h4 {
    position: relative;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 22px;
    color: #f1bc0d;
    text-transform: capitalize;
}
.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    background-color: #27c0ac;
    height: 2px;
    width: 40px;
}
ul li:not(:last-child) {
    margin-bottom: 8px;
}
ul li a {
    display: block;
    font-size: 19px;
    text-transform: capitalize;
    color: #bdb6b6;
    text-decoration: none;
    transition: 0.4s;
}
ul li a:hover {
    color: white;
    padding-left: 2px;
}
.links a {
    display: inline-block;
    height: 44px;
    width: 44px;
    color: white;
    background-color: rgba(40, 130, 214, 0.8);
    margin: 0 8px 8px 0;
    text-align: center;
    line-height: 44px;
    border-radius: 50%;
    transition: 0.4s;
}
.links a:hover {
    color: #4d4f55;
    background-color: white;
}
footer p {
    color: #bdb6b6;
   margin: 0;
   margin-right: auto;
   margin-left: auto;
   margin-top: 30px;
}

@media(max-width: 740px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
        text-align: center;
    }
}
.footer-col h4::before {
    all: unset;
}
@media(max-width: 480px) {
    .footer-col {
        width: 100%;
    }
}
@media screen and (max-width: 768px) and (min-width: 481px) {
    #hero-1 {
        background-position: center center;
        background-position: bottom;
     }
     #hero-1 h1 {
         font-size: 75px;
         text-align: center;
         padding: 0px;
     }
     #hero-1 .btn {
         border-radius: 10px;
         padding: 18px 25px;
         font-size: 20px;
         font-weight: bold;
         min-width: 100px;
         text-align: center;
     }
     .intro {
   
        flex-direction: column;
    }
    .content h1 {
        
        flex-direction: column;
    }
}
@media(max-width: 480px){
    .links-container{
        flex-direction: column;
        align-items: flex-start;

        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 300px;

        background-color: #2b72b9;
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
        transition: 0.75s ease-out;
    }
    nav a {
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
    }
    .open-sidebar-button, .close-sidebar-button {
        padding: 20px;
        display: block;
    }
    #sidebar-active:checked ~ .links-container {
       right: 0;
    }
    #sidebar-active:checked ~ #overlay {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }
    #hero-1 {
        background-position: center center;
        background-position: bottom;
        justify-content: center;
    }
    #hero-1 h1 {
       font-size: 35px;
       text-align: center;
       padding: 0px;
    }
    #hero-1 .btn {
        border-radius: 10px;
        padding: 12px 20px;
        font-size: 15px;
        font-weight: bold;
        min-width: 100px;
        text-align: center;
        margin-bottom: 125px;
    }
    .intro {
   
        flex-direction: column;
    }
    .content h1 {
   
        flex-direction: column;
        
    }
    .card {
        flex: 1;
        margin: 20px 0px;
    }
}