* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    padding: 0;
    font-family: sans-serif;
   
}
.contain {
    width: 80vw;
    max-width: 1440px;
    margin: 0px auto;
}
img {
    width: 100%;
    object-fit: cover;
}
#lvl1 {
    position: relative;
    background: linear-gradient(to top, #ffffff, #231f20);
    position: sticky;
    top: 0px;
    z-index: 1;
    .contain {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    a {
        text-decoration: none;
        color: white;
        padding: 24px;
    }
    img {
        width: 100px;
    }
    #logo {
        margin-right: auto;
    }
    h1 {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        background-image: linear-gradient(to top, #231f20, white, #2b72b9, white, #231f20);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 30px;
        padding-left: 100px;
    }
   
    p {
        margin-left: auto;
    }
    .btn {
        background-color: white;
        color: #2b72b9;
        border-radius: 10px;
        padding: 12px 20px;
        font-size: 15px;
        font-weight: bold;
        min-width: 100px;
        text-align: center;
        &:hover {
            background-color: #003a7d;
            color: white;
        }
    }
}
.contain ul {
    text-decoration: none;
    list-style-type: none;
    background-image: linear-gradient(to bottom, #231f20, #2b72b9,  #231f20, #2b72b9);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#navbar {
    background: linear-gradient(to top, #ffffff, #231f20);
    position: sticky;
    top: 0px;
    z-index: 1;
    .contain {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    a {
        text-decoration: none;
        color: white;
        padding: 24px;
    }
    img {
        width: 100px;
    }
    h1 {
        margin-left: auto;
        margin-right: auto;
        background-image: linear-gradient(to top, #231f20, white, #2b72b9, white, #231f20);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 30px;
        padding-left: 100px;
    }
    #logo {
        margin-right: auto;
    }
    .btn {
        background-color: white;
        color: #2b72b9;
        border-radius: 10px;
        padding: 12px 20px;
        font-size: 15px;
        font-weight: bold;
        min-width: 100px;
        text-align: center;
        &:hover {
            background-color: #003a7d;
            color: white;
        }
    }
    
    #lvl2 {
       background-color: #2b72b9;
      
    }
    #lvl2 .contain {
        display: flex;
        justify-content: center;
    }
}
nav {
    background-color: #2b72b9;
    display: flex;
    align-items: center;
}
#navbar a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 24px;
    &:hover {
       color: #003a7d;
    }
}

nav > .logo {
   margin-right: auto;
   font-weight: bold;
   font-size: 36px;
  padding-top: 13px;
  padding-bottom: 12px;
}
.dropdown-container {
    position: relative;
}
.dropdown-menu {
    position: absolute;
    box-shadow: -2px 2px 5px #5558;
    opacity: 0;
    visibility: hidden;
    transition: 
        opacity 0.5s,
        visibility 0.5s
    ;
}
.dropdown-menu a {
    background-color: #2b72b9;
    width: 100%;
    min-width: 200px;
}
.dropdown-container:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}
#hero-1 {
    background-image: url(../images/downtown.jpg);
    background-size: cover;
    background-position: center right;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    h1 {
        margin-right: auto;
        margin-left: auto;
        background-image: linear-gradient(to top, #231f20, #2b72b9, #231f20);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 100px;
        padding-left: 100px;
    }
}
.intro {
    display: flex;
    align-items: center;
    gap: 48px;
    margin-top: 48px;
}
.intro img {
    height: 100%;
    border-radius: 24px;
}
.img-contain, .content {
    flex: 1;
}
.img-contain {
    height: 400px;
}
.content h1 {
    font-size: 48px;
    color: #ffb700;
}
.featured {
    background-color: #222;
    color: white;
    padding: 24px 0px;
    h2 {
        font-size: 36px;
        text-align: center;
    }
}
.grid img {
    height: 300px;
    border-radius: 24px;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 16px;
    grid-template-areas:
        "t1 i1 i2 i2" 
        "i3 i3 i4 t2"
    ;
    #img6 {
        grid-area: t1;
    }
    #img5 {
        grid-area: t2;
    }
    #img1 {
        grid-area: i1;
    }
    #img2 {
        grid-area: i2;
    }
    #img3 {
        grid-area: i3;
    }
    #img4 {
        grid-area: i4;
    }
    p {
        border: 2px solid #ffb700;
        border-radius: 24px;
        margin: 0px;
        padding: 20px;
    }
}
.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}
#contact-section {
    background: url(../images/lamp.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    padding-bottom: 2%;
}
#contact-section .container h2 {
    text-align: center;
    text-decoration: underline;
    text-underline-position: under;
    color: rgb(238, 235, 235);
    letter-spacing: 2px;
}
#contact-section .container p {
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3%;
    color: #fff;
    letter-spacing: 3px;
}
.contact-form i.fa {
    font-size: 22px;
    padding: 3%;
    background-color: none;
    margin: 2%;
    border-radius: 80%;
    cursor: pointer;
    border: 2px solid rgb(190, 190, 190);
    color: rgb(190, 190, 190);
}
.contact-form i.fa:hover {
    cursor: pointer;
    border: 2px solid #fff;
    color: #fff;
}
.contact-form {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 5px;
}
.form-info {
    font-size: 16px;
    font-style: italic;
    color: #fff;
    letter-spacing: 2px;
}
input {
    padding: 10px;
    margin: 10px;
    width: 70%;
    background-color: rgba(136, 133, 133, 0.5);
    color: #fff;
    border: none;
    outline: none;
}
input::placeholder {
    color: #fff;
}
textarea {
    padding: 10px;
    margin: 10px;
    width: 70%;
    background-color: rgba(136, 133, 133, 0.5);
    color: #fff;
    border: none;
    outline: none;
}
textarea::placeholder {
    color: #fff;
}
.submit {
    width: 40%;
    background: none;
    padding: 4px;
    outline: none;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 33px;
    text-align: center;
    cursor: pointer;
    letter-spacing: 2px;
    margin-left: 3%;
    border: 2px solid rgb(190, 190, 190);
    color: rgb(190, 190, 190);
}
.submit:hover {
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
}
@keyframes fade-inout{
    0%{opacity: 1;}
    100%{opacity: 0;}
}
#hero-1 h1 {
    animation: fade-inout 5s infinite alternate;
}
#two-columns {
    display: flex;
    width: 90vw;
    height: 100vh;
    margin: 48px 0px 0px 48px;
    gap: 24px;
}
#two-columns h2 {
    text-align: center;
}

#main {
   margin: 0px auto;
   border: 24px;
   
   
}
#column {
    margin: 0px auto;
    border: 24px;
    
}

#text {
    width: 100%;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
span {
    min-height: 400px;
    font-size: calc(1em + 7vw);
    padding: 0 calc(0.5rem + 0.5vw);
    position: relative;
    opacity: 0;
}
span:not(#dot) {
    bottom: -200px;
    animation-name: appear;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
span:nth-of-type(2) {
    animation-delay: 0.2s;
}
span:nth-of-type(3) {
    animation-delay: 0.4s;
}
span:nth-of-type(4) {
    animation-delay: 0.6s;
}
span:nth-of-type(5) {
    animation-delay: 0.8s;
}
span:nth-of-type(6) {
    animation-delay: 1.0s;
}
span:nth-of-type(7) {
    animation-delay: 1.2s;
}
span:nth-of-type(8) {
    animation-delay: 1.4s;
}
span:nth-of-type(9) {
    animation-delay: 1.6s;
}

#dot {
    bottom: 100px;
    animation-name: dot;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-delay: 2.3s;
}
@keyframes appear {
    0% {
        opacity: 0;
        bottom: -200px;
    }
    70% {
        opacity: 1;
        bottom: 15px;
    }
    85% {
        opacity: 1;
        bottom: -10;
    }
    100% {
        opacity: 1;
        bottom: 0;
    }
}
@keyframes dot {
    0% {
        opacity: 0;
        bottom: 100px;
    }
    50% {
        opacity: 1;
        bottom: 0;
    }
    65% {
        opacity: 1;
        bottom: 15px;
    }
    75% {
        opacity: 1;
        bottom: 0;
    }
    90% {
        opacity: 1;
        bottom: 10px;
    }
    100% {
        opacity: 1;
        bottom: 0;
    }
}

@media screen and (max-width: 768px) and (min-width: 481px) {
   
    .content h1 {
         font-size: 32px;
    }
    .intro {
         gap: 24px;
    }
    .img-contain {
         height: 300px;
    }
    .grid {
     grid-template-columns: 1fr 1fr;
     grid-template-areas:
         "t1 i1" 
         "i2 i2"
         "i3 i3"
         "i4 t2"
     ;
     
 }
 }
 @media screen and (max-width: 480px) {
     nav {
         flex-direction: column;
         align-items: center;
         padding: 20px 0px;
     }
     nav a {
         padding: 0px;
     }
     .intro {
         flex-direction: column;
         gap: 24px;
     }
     .content h1 {
         margin: 0px;
         font-size: 32px;
     }
     .grid {
         grid-template-columns: 1fr;
         grid-template-areas:
             "t1" 
             "i1"
             "i2"
             "i3"
             "i4"
             "t2"
         ;
         
     }
 }
 @media (max-width: 768px) {
    #contact-section .contact-form {
        display: block;
       width: 100%;
       text-align: center;
    }
    #contact-section .submit {
        width: 60%;
    }
}
@media screen and (max-width: 780px) and (min-width: 481px) {
    nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #lvl1 {
        display: grid;
       grid-template-columns: 1fr;
    }
   
    .intro {
   
        flex-direction: column;
    }
    .content h1 {
        
        flex-direction: column;
    }
    #hero-1 {
       background-position: center center;
       background-position: bottom;
    }
    #hero-1 h1 {
        font-size: 75px;
        text-align: center;
        padding: 0px;
    }
    #hero-1 .btn {
        border-radius: 10px;
        padding: 18px 25px;
        font-size: 20px;
        font-weight: bold;
        min-width: 100px;
        text-align: center;
    }
 }
 
 @media screen and (max-width: 480px) {
    nav {
       display: grid;
       grid-template-columns: 1fr 1fr;
    }
    #lvl1 {
       display: grid;
       grid-template-columns: 1fr;
        
    }
   
    .intro {
   
        flex-direction: column;
    }
    .content h1 {
   
        flex-direction: column;
        
    }
    #hero-1 {
        background-position: center center;
        background-position: bottom;
        justify-content: center;
    }
    #hero-1 h1 {
       font-size: 35px;
       text-align: center;
       padding: 0px;
    }
    #hero-1 .btn {
        border-radius: 10px;
        padding: 12px 20px;
        font-size: 15px;
        font-weight: bold;
        min-width: 100px;
        text-align: center;
        margin-bottom: 125px;
    }
    .card {
        flex: 1;
        margin: 20px 0px;
    }
 }

 @media (min-width: 475px) {

 }
 @media (min-width: 640px) {

 }
 @media (min-width: 768px) {

 }
 @media (min-width: 1024px) {

 }
 @media (min-width: 1200px) {

 }
 @media (min-width: 1536px) {

 }
