@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
:root {
    --color-1: #0f1016;
    -webkit-text-fill-color: white;
    --accent-color: #006aff;
}
* {
    box-sizing: border-box;
}
html {
    font-size: 12pt;
}
body {
    margin: 0px;
    padding: 0;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
header {
    position: relative;
    position: sticky;
    top: 0px;
    z-index: 1;
    width: 80vw;
    max-width: 85px;
    margin: 0px auto;
}
img {
    width: 100%;
    object-fit: cover;
}
nav {
    
    top: 0px;
    z-index: 1;
    position: sticky;
    height: 60px;
    background-color: var(--color-1);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.links-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-self: center;
}
nav a {
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
}
nav a:hover {
    background-color: var(--accent-color);
}
nav .home-link {
    margin-right: auto;
}
nav svg {
    fill: white;
}
#sidebar-active {
    display: none;
}
.open-sidebar-button, .close-sidebar-button {
    display: none;
}

.dropdown-container {
    position: relative;
}
.dropdown-menu {
    position: absolute;
    box-shadow: -2px 2px 5px #5558;
    opacity: 0;
    visibility: hidden;
    transition: 
        opacity 0.5s,
        visibility 0.5s
    ;
}
.dropdown-menu a {
    background-color: #2b72b9;
    width: 100%;
    min-width: 200px;
}
.dropdown-container:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}
#hero-1 {
    background-image: url(../images/downtown.jpg);
    background-size: cover;
    background-position: center right;
    background-position: bottom;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    h1 {
        margin-right: auto;
        margin-left: auto;
        background-image: linear-gradient(to top, #231f20, #2b72b9, #231f20);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 100px;
        padding-left: 100px;
    }
    .btn {
        text-decoration: none;
        background-color: white;
        color: #2b72b9;
        border-radius: 10px;
        padding: 15px 20px;
        font-size: 40px;
        font-weight: bold;
        min-width: 200px;
        text-align: center;
        &:hover {
            background-color: #2b72b9;
            color: white;
        }
    }
}
@keyframes fade-inout{
    0%{opacity: 1;}
    100%{opacity: 0;}
}
#hero-1 h1 {
    animation: fade-inout 5s infinite alternate;
}
#two-columns {
    display: flex;
    width: 90vw;
    height: 100vh;
    margin: 48px 0px 0px 48px;
    gap: 24px;
}
#two-columns h2 {
    text-align: center;
}

#main {
   margin: 0px auto;
   border: 24px;
   
   
}
#column {
    margin: 0px auto;
    border: 24px;
    
}
@media screen and (max-width: 780px) and (min-width: 481px) {
    #hero-1 {
        background-position: center center;
        background-position: bottom;
     }
     #hero-1 h1 {
         font-size: 75px;
         text-align: center;
         padding: 0px;
     }
     #hero-1 .btn {
         border-radius: 10px;
         padding: 18px 25px;
         font-size: 20px;
         font-weight: bold;
         min-width: 100px;
         text-align: center;
     }
}
@media(max-width: 480px){
    .links-container{
        flex-direction: column;
        align-items: flex-start;

        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 300px;

        background-color: var(--color-1);
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
        transition: 0.75s ease-out;
    }
    nav a {
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
    }
    .open-sidebar-button, .close-sidebar-button {
        padding: 20px;
        display: block;
    }
    #sidebar-active:checked ~ .links-container {
       right: 0;
    }
    #sidebar-active:checked ~ #overlay {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }
    #hero-1 {
        background-position: center center;
        background-position: bottom;
        justify-content: center;
    }
    #hero-1 h1 {
       font-size: 35px;
       text-align: center;
       padding: 0px;
    }
    #hero-1 .btn {
        border-radius: 10px;
        padding: 12px 20px;
        font-size: 15px;
        font-weight: bold;
        min-width: 100px;
        text-align: center;
        margin-bottom: 125px;
    }
}
