body {
    background-color: rgb(136, 136, 142);
}
#p1 {
    color: pink;
    background-color: purple;
}
#p2 {
    color: rgb(214, 172, 64);
    background-color: rgb(38, 81, 38);
    font-size: 24px;
    text-decoration: underline;
    text-decoration-color: blue;
}
#bold {
    font-weight: bold;
    color: red;
}
#s1 {
    color: orange;
    font-size: 48px;
    font-weight: bold;
}
#s2 {
    font-style: italic;
    text-decoration: line-through;
}
#s3 {
    background-color: maroon;
}
#s4 {
    color: #89cff0;
    text-align: right;
}

